 <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>

<div class="row p-5">
    <form action="/admin/addcoupon" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1" style="font-size:x-large;color: brown;">Add Coupon</label>
            <input type="text" class="form-control" id="category" name="coupon" placeholder="Enter coupon name"><br>
            <label>Amount</label>
            <input type="number" name="price">
            <br>
            <label>From</label><br>
            <input type="date" name="fromdate" id="date_picker"><br>
            <label>To</label><br>
            <input type="date" name="todate" id="expr_date">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#date_picker').attr('min', today);
     $('#expr_date').attr('min', today);
</script>