<div class="row p-5">
    <form action="/admin/addcoupon" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1" style="font-size:x-large;color: brown;">Add Coupon</label>
            <input type="text" class="form-control" id="category" name="coupon" placeholder="Enter coupon name"><br>
            <label>Amount</label>
            <input type="number" name="price">
            <br>
            <label>From</label><br>
            <input type="date" name="fromdate"><br>
            <label>To</label><br>
            <input type="date" name="todate">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>