<!-- main content part here -->

<!-- sidebar  -->
<nav class="sidebar dark_sidebar">
    <div class="logo d-flex justify-content-between">
        <a class="large_logo" href="index-2.html"><img src="img/logo_white.png" alt=""></a>
        <a class="small_logo" href="index-2.html"><img src="img/mini_logo.png" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="">
            <a href="/admin" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="/images/Admin/img/menu-icon/dashboard.svg" alt="">
                </div>
                <div class="nav_title">
                    <span>Home</span>
                </div>
            </a>
        </li>
        <li class="">
            <a href="/admin/product-list" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="/images/Admin/img/menu-icon/2.svg" alt="">
                </div>
                <div class="nav_title">
                    <span>Products</span>
                </div>
            </a>
        </li>
        <li class="">
            <a href="/admin/allOrders" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="/images/Admin/img/menu-icon/12.svg" alt="">
                </div>
                <div class="nav_title">
                    <span>Orders</span>
                </div>
            </a>
        </li>
         <li class="">
            <a href="/admin/category" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="/images/Admin/img/menu-icon/12.svg" alt="">
                </div>
                <div class="nav_title">
                    <span>Category</span>
                </div>
            </a>
        </li>
        <li class="">
            <a href="/admin/userslist" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="/images/Admin/img/menu-icon/5.svg" alt="">
                </div>
                <div class="nav_title">
                    <span>Users</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/admin/coupons" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="/images/Admin/img/menu-icon/6.svg" alt="">
                </div>
                <div class="nav_title">
                    <span>Coupons</span>
                </div>
            </a>
        </li>
        <li class="">
            <a  aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="/images/Admin/img/menu-icon/11.svg" alt="">
                </div>
                <div class="nav_title">
                    <span>Offers</span>
                </div>
            </a>
            <ul>
                <li>
                    <a href="/admin/product-offer">Product Offers</a>
                </li>
                <li>
                    <a href="/admin/category-offer">Category Offers</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="/admin/salesreport" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="/images/Admin/img/menu-icon/10.svg" alt="">
                </div>
                <div class="nav_title">
                    <span>Sales Report</span>
                </div>
            </a>
        </li>
    </ul>
</nav>
<!--/ sidebar  -->
