<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from demo.dashboardpack.com/user-management-html/index_3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 29 Jan 2022 06:43:44 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Management Admin</title>

    <link rel="icon" href="img/mini_logo.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/admin/css/bootstrap.min.css" />
    <!-- themefy CSS -->
    <link rel="stylesheet" href="/javascripts/admin/vendors/themefy_icon/themify-icons.css" />
    <!-- select2 CSS -->
    <link rel="stylesheet" href="/javascripts/admin/vendors/niceselect/css/nice-select.css" />
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/javascripts/admin/vendors/owl_carousel/css/owl.carousel.css" />
    <!-- gijgo css -->
    <link rel="stylesheet" href="/javascripts/admin/vendors/gijgo/gijgo.min.css" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/javascripts/admin/vendors/font_awesome/css/all.min.css" />
    <link rel="stylesheet" href="/javascripts/admin/vendors/tagsinput/tagsinput.css" />

    <!-- date picker -->
    <link rel="stylesheet" href="/javascripts/admin/vendors/datepicker/date-picker.css" />

    <link rel="stylesheet" href="/javascripts/admin/vendors/vectormap-home/vectormap-2.0.2.css" />

    <!-- scrollabe  -->
    <link rel="stylesheet" href="/javascripts/admin/vendors/scroll/scrollable.css" />
    <!-- datatable CSS -->
    <link rel="stylesheet" href="/javascripts/admin/vendors/datatable/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="/javascripts/admin/vendors/datatable/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="/javascripts/admin/vendors/datatable/css/buttons.dataTables.min.css" />
    <!-- text editor css -->
    <link rel="stylesheet" href="/javascripts/admin/vendors/text_editor/summernote-bs4.css" />
    <!-- morris css -->
    <link rel="stylesheet" href="/javascripts/admin/vendors/morris/morris.css">
    <!-- metarial icon css -->
    <link rel="stylesheet" href="/javascripts/admin/vendors/material_icon/material-icons.css" />

    <!-- menu css  -->
    <link rel="stylesheet" href="/stylesheets/admin/css/metisMenu.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/stylesheets/admin/css/style.css" />
    <link rel="stylesheet" href="/stylesheets/admin/css/colors/default.css" id="colorSkinCSS">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>

<body class="crm_body_bg">


    {{#if admin}}
    {{>admin-header}}
    {{/if}}
    <section class="main_content dashboard_part large_header_bg">
        <!-- menu  -->
        <div class="container-fluid no-gutters">
            <div class="row">
                <div class="col-lg-12 p-0 ">
                    <div class="header_iner d-flex justify-content-between align-items-center">
                        <div class="sidebar_icon d-lg-none">
                            <i class="ti-menu"></i>
                        </div>
                        <div class="line_icon open_miniSide d-none d-lg-block">
                            <img src="/images/Admin/img/line_img.png" alt="">
                        </div>
                        <div class="serach_field-area d-flex align-items-center">
                            <div class="search_inner">
                                <form action="#">
                                    <div class="search_field">
                                        <input type="text" placeholder="Search">
                                    </div>
                                    <button type="submit"> <img src="/images/Admin/img/icon/icon_search.svg" alt="">
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="header_right d-flex justify-content-between align-items-center">
                            <div class="profile_info">
                                <img src="/images/Admin/img/client_img.png" alt="#">
                                <div class="profile_info_iner">
                                    <div class="profile_info_details">
                                        <a href="/admin/logout">Log Out </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{{body}}}
    </section>



    <script src="/javascripts/admin/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="/javascripts/admin/js/popper.min.js"></script>
    <!-- bootstarp js -->
    <script src="/javascripts/admin/js/bootstrap.min.js"></script>
    <!-- sidebar menu  -->
    <script src="/javascripts/admin/js/metisMenu.js"></script>
    <!-- waypoints js -->
    <script src="/javascripts/admin/vendors/count_up/jquery.waypoints.min.js"></script>
    <!-- waypoints js -->
    <script src="/javascripts/admin/vendors/chartlist/Chart.min.js"></script>
    <!-- counterup js -->
    <script src="/javascripts/admin/vendors/count_up/jquery.counterup.min.js"></script>

    <!-- nice select -->
    <script src="/javascripts/admin/vendors/niceselect/js/jquery.nice-select.min.js"></script>
    <!-- owl carousel -->
    <script src="/javascripts/admin/vendors/owl_carousel/js/owl.carousel.min.js"></script>

    <!-- responsive table -->
    <script src="/javascripts/admin/vendors/datatable/js/jquery.dataTables.min.js"></script>
    <script src="/javascripts/admin/vendors/datatable/js/dataTables.responsive.min.js"></script>
    <script src="/javascripts/admin/vendors/datatable/js/dataTables.buttons.min.js"></script>
    <script src="/javascripts/admin/vendors/datatable/js/buttons.flash.min.js"></script>
    <script src="/javascripts/admin/vendors/datatable/js/jszip.min.js"></script>
    <script src="/javascripts/admin/vendors/datatable/js/pdfmake.min.js"></script>
    <script src="/javascripts/admin/vendors/datatable/js/vfs_fonts.js"></script>
    <script src="/javascripts/admin/vendors/datatable/js/buttons.html5.min.js"></script>
    <script src="/javascripts/admin/vendors/datatable/js/buttons.print.min.js"></script>

    <!-- datepicker  -->
    <script src="/javascripts/admin/vendors/datepicker/datepicker.js"></script>
    <script src="/javascripts/admin/vendors/datepicker/datepicker.en.js"></script>
    <script src="/javascripts/admin/vendors/datepicker/datepicker.custom.js"></script>

    <script src="/javascripts/admin/js/chart.min.js"></script>
    <script src="/javascripts/admin/vendors/chartjs/roundedBar.min.js"></script>

    <!-- progressbar js -->
    <script src="/javascripts/admin/vendors/progressbar/jquery.barfiller.js"></script>
    <!-- tag input -->
    <script src="/javascripts/admin/vendors/tagsinput/tagsinput.js"></script>
    <!-- text editor js -->
    <script src="/javascripts/admin/vendors/text_editor/summernote-bs4.js"></script>
    <script src="/javascripts/admin/vendors/am_chart/amcharts.js"></script>

    <!-- scrollabe  -->
    <script src="/javascripts/admin/vendors/scroll/perfect-scrollbar.min.js"></script>
    <script src="/javascripts/admin/vendors/scroll/scrollable-custom.js"></script>

    <!-- vector map  -->
    <script src="/javascripts/admin/vendors/vectormap-home/vectormap-2.0.2.min.js"></script>
    <script src="/javascripts/admin/vendors/vectormap-home/vectormap-world-mill-en.js"></script>

    <!-- apex chrat  -->
    <script src="/javascripts/admin/vendors/apex_chart/apex-chart2.js"></script>
    <script src="/javascripts/admin/vendors/apex_chart/apex_dashboard.js"></script>

    <!-- <script src="vendors/echart/echarts.min.js"></script> -->


    <script src="/javascripts/admin/vendors/chart_am/core.js"></script>
    <script src="/javascripts/admin/vendors/chart_am/charts.js"></script>
    <script src="/javascripts/admin/vendors/chart_am/animated.js"></script>
    <script src="/javascripts/admin/vendors/chart_am/kelly.js"></script>
    <script src="/javascripts/admin/vendors/chart_am/chart-custom.js"></script>
    <!-- custom js -->
    <script src="/javascripts/admin/js/dashboard_init.js"></script>
    <script src="/javascripts/admin/js/custom.js"></script>
</body>

<!-- Mirrored from demo.dashboardpack.com/user-management-html/index_3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 29 Jan 2022 06:43:45 GMT -->

</html>