<!DOCTYPE html>
<html>

<head>
	<title></title>



	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/user/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/user/slick.css" />

	<link type="text/css" rel="stylesheet" href="/stylesheets/user/slick-theme.css" />

	<!-- nouislider -->
	
	{{!-- <link type="text/css" rel="stylesheet" href="/stylesheets/user/nouislider.min.css" /> --}}

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/stylesheets/user/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/user/style.css" />


	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->



	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

	<!--login page bootstrap  -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




	
	<!--/login page bootstrap  -->


</head>


<body>


	{{#if userheader}}
	{{>user-header}}
	{{/if}}

	{{{body}}}

	{{#if userheader}}
	{{>user-footer}}
	{{/if}}




	<script src="javascripts/user/jquery.min.js"></script>
	<script src="javascripts/user/bootstrap.min.js"></script>
	<script src="javascripts/user/slick.min.js"></script>
	<script src="javascripts/user/nouislider.min.js"></script>
	<script src="javascripts/user/jquery.zoom.min.js"></script>
	<script src="javascripts/user/main.js"></script>
	<script src="javascripts/user/addtocart.js"></script>
	<script src="javascripts/user/quantity.js"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="javascripts/user/placeOrder.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>

</html>